<body>

<h1 ng-style="">{{title}}</h1>


<div>
    <div class="row">
        
        <div class="table">
            <table id="head" class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-white">NAME</th>
                        <th class="text-white">Email</th>
                        <th class="text-white">Marks (out of 100)</th>
                        <th class="text-white">Pass/Fail</th>
                    </tr>

                </thead>
                
                <tbody>
                    <tr *ngFor="let item of userList">
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.mark}}</td>
                        <td *ngIf="item.mark >= 50"><span class="PassBadge">PASS</span></td>
                        <td *ngIf="item.mark < 50"><span class="FailBadge">FAIL</span></td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>


    <div class="text-center m-auto">
        
        <button class="btn btn-primary mt-5 mb-5" routerLink=""><b>Go back to Home Page</b></button>

    </div>


</div>

</body>
