h1 {
    background-color: hsla(260, 29%, 36%, 1);
    background-size: cover;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 61, 162);
    text-align: center;
    border-color: black;
    border-style: none;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: blueviolet;
    color: white;
}

table {

    align-items: center;
    align-content: center;
    background-color: cadetblue;
    text-align: center;
    width: 1000px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#head th {
    background-color: rgb(100, 25, 171);
}

.PassBadge {
    color: white;
    background-color: rgb(9, 63, 9);
}

.FailBadge {
    color: white;
    background-color: rgb(156, 11, 11);
}